
<ion-content>

  <ion-card>
    <ion-card-header>
     <div class="card-title">Wadsworth</div>
    </ion-card-header>
  </ion-card>
  <div class = "rob">
    By: Roberto Sanchez <br> Posted: May 23, 2020 
    <br> ____________________________ <br><br> Description: <br> 
    This clean up session will take place at the Magic Johnson park.
    <br>
    <br>
    It will be an easy clean up. About 30 - 45 min.
    <br> ____________________________ <br><br>
</div>

  <button  id="COMING" (click) = "showText()" >
   <p id = "boom"> I'm coming </p>
    <img src="https://img.icons8.com/ios-filled/50/000000/explosion.png"/>
  <div class="explosion">
</div>
</button>

<button id="up" (click) = "Thumb()">
  <p id = "tup"> Good Job! </p>
  <img src="https://img.icons8.com/material-rounded/50/000000/thumb-up.png"/>
 
<div class="tup">

</div>
</button>

<button id="down" (click) = "showText3()" >
  <p id = "tdown"> No thanks</p>
  <img src="https://img.icons8.com/material-rounded/50/000000/thumbs-down.png"/>
 
<div class="tdown">

</div>
</button>



<button class = "button2" tab="home" routerLink 
= '/home'>
  <ion-icon name="home"></ion-icon>
  <ion-label></ion-label>
</button>

<button class = button1 tab="settings" routerLink 
= '/settings'>
<ion-icon class= "icon" name="cog"></ion-icon>
</button>

<button class = "button3" tab="back" routerLink 
= '/area'>
<ion-icon name="arrow-back-circle-outline"></ion-icon>
<ion-label></ion-label>
</button>

<div class = "tab">
</div>
</ion-content>
