
<ion-content>

  <ion-card>
    <ion-card-header>
     <div class="card-title">Wadsworth</div>
    </ion-card-header>
  </ion-card>
  <div class = "rob">
    By: Roberto Sanchez <br> Posted: May 23, 2020 
    <br> ____________________________ <br><br> Description: <br> 
    This clean up session will take place at the Magic Johnson park.
    <br>
    <br>
    It will be an easy clean up. About 30 - 45 min.
    <br> ____________________________ <br><br>
</div>

  <button id="COMING">
    <img src="https://img.icons8.com/ios-filled/50/000000/explosion.png"/>
   
  <div class="explosion">
  
</div>
</button>

<button id="up">
  <img src="https://img.icons8.com/material-rounded/50/000000/thumb-up.png"/>
 
<div class="tup">

</div>
</button>

<button id="down">
  <img src="https://img.icons8.com/material-rounded/50/000000/thumbs-down.png"/>
 
<div class="tdown">

</div>
</button>



  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="back" routerLink 
      = '/area'>
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
        <ion-label>Back</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="home" outerLink 
      = '/home'>
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings" routerLink 
      = '/settings'>
        <ion-icon name="cog"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
