

<ion-content>

<div class = "tab">
</div>

<div class = "line">
</div>

<div class = "line2">
</div>
<div id = "background"> </div>
<div >
  <p class = text> Oscar Menjivar <br><br> CEO that loves to clean. <br><br> I have a dog, <br> A.K.A Bagel <br><br>Love TXT!!! </p>
</div>

  <ion-title class = "info"> Info </ion-title>


  <img src= "https://cdn.discordapp.com/attachments/373959594940039180/730972037929107507/osc.png" id = "oscar"/>
  <img src= "https://cdn.discordapp.com/attachments/344289010375458837/730839385028952083/calendar.png" id = "earth"/>

  <button class = "button2" tab="home" routerLink 
= '/home'>
  <ion-icon name="home"></ion-icon>
  <ion-label></ion-label>
</button>

<button class = button1 tab="settings" routerLink 
= '/settings'>
<ion-icon class= "icon" name="cog"></ion-icon>
</button>

</ion-content>
