
<ion-content>
  <ion-card id="Card1">
    <ion-card-header>
      <ion-card-title id="South"> South Central
    
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class = "grid">
    <ion-col>
      <div class="inner-cards"  id ="Imperial" >
       Imperial
      </div>
    </ion-col>

    <ion-col>
      <div class="inner-cards" id="Watts" (click)="nav('/watts')">
       Watts
      </div>
    </ion-col>

    <ion-col>
      <div class="inner-cards" id = "Wadsworth" routerLink 
      = '/info'>
      Wadsworth
      </div>
    </ion-col>
    <ion-col>
      <div class="inner-cards" id = "Avalon"(click)="nav('/avalon')">
       Avalon
      </div>
    </ion-col>


</div>
<div class = "century1">
<div id = "Century">
  Century
</div>

</div>

<div id = "empty">
<p class = "text"> - Empty </p>
</div>

<div id = "empty">
  <p class = "text2"> - Easy Clean </p>
  </div>

  <div id = "empty">
    <p class = "text3"> - In progress </p>
    </div>
  
    <div id = "empty">
      <p class = "text4"> - In progress </p>
      </div>

      <div id = "empty">
        <p class = "text5"> - Hard Clean </p>
        </div>


   <button class = "button2" tab="home" routerLink 
        = '/home'>
          <ion-icon name="home"></ion-icon>
          <ion-label></ion-label>
        </button>
  
      <button class = button1 tab="settings" routerLink 
    = '/settings'>
      <ion-icon class= "icon" name="cog"></ion-icon>
    </button>
  
    <button class = "button3" tab="back" routerLink 
    = '/list'>
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      <ion-label></ion-label>
    </button>
  
      <div class = "tab">
      </div>

</ion-content>
