ion-content{

    --ion-background-color: rgb(237,138,2);
    --ion-background-color: linear-gradient(207deg, rgba(237,138,2,0.39119397759103647) 0%, rgba(255,255,255,1) 53%, rgba(0,251,255,0.4248074229691877) 100%);
}
ion-tabs{
    --ion-background-color: #EFEFEF;
}
#Card1{ 
    z-index: 1;
    position: absolute;
width: 319px;
height: 150px;
left: 32px;
top: -60px;

border: 5px solid #000000;
border-radius: 20px;
background: #EFEFEF;

}
#South{
    position: absolute;
width: 245px;
height: 44px;
left: 34px;
top: 55px;

font-family: Tamil MN;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
}

.inner-cards{
    height: 60px;
    width:170px;
    position: initial;
    margin: auto;
    background-color: #A270A3 ;
    border-radius: 5px;
    padding: 16px;
    text-align: center ;
    font-family: Tamil MN;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    border: 3px solid #000000;
    border-radius: 10px;

}

#Imperial{
    position: absolute;;
    width: 168px;
height: 66px;
left: 34px;
top: 154px;
}
#Watts{
   position: absolute;
    width: 168px;
height: 66px;
left: 24px;
top: 257px;

}

#Wadsworth{
    position: absolute;
width: 168px;
height: 66px;
left: 14px;
top: 360px;
}

#Avalon{
    position: absolute;
width: 168px;
height: 66px;
left: 4px;
top: 463px;


}
.century1{
    height: 60px;
    width:170px;
    position: absolute;
    margin: auto;
    background-color: #A270A3; ;
    border-radius: 5px;
    padding: 16px;
    text-align: center ;
    font-family: Tamil MN;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    border: 3px solid #000000;
    border-radius: 10px;
    top: 560px;
    left: 33px;
}
#Century{
    position: absolute;
    width: 98px;
    height: 29px;
    left: 34px;
    top: 15px;

}
.text{
    position: absolute;
    font-family: Tamil MN;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
left: 230px;
top: 136px;
}

.text2{
    position: absolute;
    font-family: Tamil MN;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
left: 230px;
top: 238px;
}

.text3{
    position: absolute;
    font-family: Tamil MN;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
left: 230px;
top: 340px;
}
.text4{
    position: absolute;
    font-family: Tamil MN;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
left: 230px;
top: 448px;
}

.text5{
    position: absolute;
    font-family: Tamil MN;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
left: 230px;
top: 550px;
}

.tab{
    position: absolute;
  height: 100px;
  width: 1200px;
  top: 680px ;
  right: -10px;
  background-color: white;
  border-style: solid;
  
  }

  .button1{
position:  absolute;
 top: 690px;
  right: 15%;
  z-index: 1;
  background: white;
  }
  .button2{
    position:  absolute;
     top: 690px;
      right: 45%;
      z-index: 1;
      background: white;
      }
      .button3{
        position:  absolute;
         top: 690px;
          right: 75%;
          z-index: 1;
          background: white;
          }     


  ion-icon{
height: 30px;
width: 30px;
background: white;
  }