

<ion-content [fullscreen]="true">

  <ion-button routerLink = "/profile">
hi
  </ion-button>
<div class="card1"  >
    <ion-card-header (click)= "nextpage()">
      <ion-card-title id="Profile"> Profile
    
      </ion-card-title>
    </ion-card-header>
</div>

<div class="card2">
    <ion-card-header>
      <ion-card-title id="maps"> Maps 
    
      </ion-card-title>
    </ion-card-header>
  </div>

  <div class = "card3" >
    <ion-card-header>
      <ion-card-title id="clean" (click)="nav('/area')"> Clean Ups
</ion-card-title>
    </ion-card-header>
  </div>

<ion-title id = "selection">
Pick your <br> Selection
</ion-title>

<ion-title id = "selection2">
  We'll make your life not just easier, but cleaner.
  </ion-title>


  <ion-tabs class = "tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="settings" routerLink 
      = '/settings'>
        <ion-icon name="cog"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    
    </ion-tab-bar>
  </ion-tabs>
</ion-content>