

<ion-content [fullscreen]="true" class = "screen">

  <img src="https://cdn.discordapp.com/attachments/341994004486946847/730626574575206430/earth.png" id = "earth"/>

<div class="card1" routerLink = "/profile"  >
    <ion-card-header>
      <ion-card-title id="Profile"> Profile
    
      </ion-card-title>
    </ion-card-header>
</div>

<div class="card2" routerLink = "/maps">
    <ion-card-header>
      <ion-card-title id="maps"> Maps 
    
      </ion-card-title>
    </ion-card-header>
  </div>

  <div class = "card3" routerLink = "/list">
    <ion-card-header>
      <ion-card-title id="clean"> Clean Ups
</ion-card-title>
    </ion-card-header>
  </div>

<ion-title id = "selection">
Pick your <br> Selection
</ion-title>

<ion-title id = "selection2">
  We'll make your life not just easier, but cleaner.
  </ion-title>




  <button tab="settings" routerLink 
  = '/settings'>
    <ion-icon class= "icon" name="cog"></ion-icon>
  </button>



  <div class = "tab">
  </div>

</ion-content>