ion-content{

  --ion-background-color: rgb(237,138,2);
  --ion-background-color: linear-gradient(207deg, rgba(237,138,2,0.39119397759103647) 0%, rgba(255,255,255,1) 53%, rgba(0,251,255,0.4248074229691877) 100%);
}

.card1{
  position: absolute;
width: 169px;
height: 231px;
left: 26px;
top: 208px;

background: #A270A3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}
#Profile{
  position: absolute;
width: 119px;
height: 49px;
left: 25px;
top: 90px;

font-family: Tamil MN;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;

}
.card2{
  position: absolute;
width: 169px;
height: 231px;
left: 227px;
top: 208px;

background: #A270A3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
#maps{
  position: absolute;
  width: 119px;
  height: 49px;
  left: 35px;
  top: 90px;
  
  font-family: Tamil MN;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  
}
.card3{
  position: absolute;
width: 360px;
height: 195px;
left: 27px;
top: 467px;

background: #DEB2C7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
#clean{
  position: absolute;
width: 177px;
height: 44px;
left: 85px;
top: 80px;

font-family: Tamil MN;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 30px;
}
#selection{
  position: absolute;
top: -250px;
left: -100px;

font-family: Tamil MN;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;

}
#selection2{
  position: absolute;
height: 16px;
left: -70px;
top: 176px;
width: auto;

font-family: Tamil MN;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
}

.tab{
  position: absolute;
  height: 100px;
  width: 1200px;
  top: 680px ;
  right: -10px;
  background-color: white;
  border-style: solid;
}

button{
  position: absolute;
  top: 690px;
  right: 45%;
  z-index: 1;
  background-color: white;

}
.icon{
  height: 30px;
  width: 30px;
}
#earth{
  position: absolute;
height: 50px;
width: 50px;
top: 15px;
left: 15px;
}
